*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  color: #333333;
  background: #ffffff;
}

img {
  width: 100%;
}

body {
  background-color: #000;
}

p {
  line-height: 1.3em;
  color: #f4f4f4;
}

h1 {
  color: #f4f4f4;
}

.header {
  padding: 1rem 0;
  background: #212121;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15),
    0 2px 1px -5px rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.logo img {
  filter: contrast(0);
}

.header .navbar {
  max-width: 68rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  z-index: 1;
}
.header .navbar .wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .wrapper .logo {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.header .navbar .wrapper .menu {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  justify-content: flex-end;
  align-items: center;
}
.header .navbar .wrapper .menu-link {
  padding: 1rem;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}
.header .navbar .wrapper .menu-link:hover {
  background: #7a7a7a34;
}
.header .navbar .toggle {
  position: fixed;
  z-index: 999;
  visibility: hidden;
  cursor: pointer;
  opacity: 0;
  right: 20px;
  top: 14px;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-out;
}
.header .navbar .toggle .span {
  height: 7px;
  background: #777777;
  margin: 5px auto;
  border-radius: 2px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.header .navbar .toggle.on .span-one {
  -webkit-transform: rotate(45deg) translateX(6px) translateY(6px);
  transform: rotate(45deg) translateX(6px) translateY(6px);
}
.header .navbar .toggle.on .span-two {
  opacity: 0;
}
.header .navbar .toggle.on .span-three {
  -webkit-transform: rotate(-45deg) translateX(10px) translateY(-12px);
  transform: rotate(-45deg) translateX(10px) translateY(-12px);
}
.header .mobile {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40%;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  background: #f4f4f4;
  transition: all 0.3s ease-out;
}
.header .mobile .menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
}
.header .mobile .menu-item {
  padding: 1rem 0;
}
.header .mobile .menu-link {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  color: #333333;
}
.header .mobile .menu-link:hover {
  color: #777777;
  transition: all 0.3s ease-out;
}
.header .mobile.active {
  visibility: visible;
  opacity: 0.99;
}

@media only screen and (min-width: 700px) {
  .header .mobile {
    visibility: hidden !important;
  }
}
@media only screen and (max-width: 700px) {
  .header .navbar .wrapper .menu {
    display: none;
  }
  .header .navbar .toggle {
    visibility: visible;
    opacity: 1;
  }
}

/* Hero */

.hero {
  height: 100vh;
  background-image: url(../images/01_Main_Hero_Desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1200px) {
  .hero {
    background-size: contain;
  }
}

@media only screen and (max-width: 960px) {
  .hero {
    height: 70vh;
    background-size: cover;
  }
}

@media only screen and (max-width: 720px) {
  .hero {
    height: 50vh;
  }
}

@media only screen and (max-width: 480px) {
  .hero {
    background-size: cover;
    height: 30vh;
  }
  .slick-next {
    right: -10px !important;
  }
  .slick-prev {
    left: -10px !important;
  }
}

.hero img {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 10%);
}

@media only screen and (max-width: 720px) {
  .hero img {
    top: -15%;
    width: 40%;
  }
}
/* grid layout */

.container {
  padding: 12em 0;
  margin: 0 auto;
  display: grid;
  max-width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

@media only screen and (max-width: 1440px) {
  .container {
    padding: 6em 0;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 3em 0;
  }
}

@media only screen and (max-width: 960px) {
  .container {
    padding: 0;
    display: block;
  }
  .item {
    padding: 1em 0;
  }
}

/* Slick slider */

.center {
  text-align: center;
  margin: 0 auto;
}

.teslaSlider {
  width: calc(80% + 120px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

@media only screen and (max-width: 720px) {
  .teslaSlider {
    width: auto;
  }
}

.slick-dots {
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  display: none;
}
.slick-dots li:before {
  top: 1px;
  transition: all 0.5s;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  position: absolute;
}
.slick-dots li.slick-active:before {
  top: 0;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  background-color: #ff0000;
}

.slick-prev {
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.slick-next {
  right: 0;
}

.slick-arrow {
  top: 50%;
  height: 26px;
  width: 14px;
  margin-top: -13px;
  position: absolute;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url(https://tarkikromanski.github.io/files/arrow-slider.png);
  background-repeat: no-repeat;
}

/* Order now */

.order-now {
  padding: 15em 0;
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
}

@media only screen and (max-width: 720px) {
  .order-now {
    padding: 5em 0;
    flex-direction: column-reverse;
    margin: 0 auto;
    align-items: center;
  }
}

.order-now-button-section {
  width: 40%;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .order-now-button-section {
    width: 100%;
  }
}

/* Button */

.order-now a {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  padding: 6px 20px 10px 20px;
  background: #000;
  background-clip: padding-box;
  border: solid 3px transparent;
  border-radius: 0;
  box-shadow: 0px 2px 47px 0px #78cdd9;
  -webkit-animation: shadow 2s ease-in alternate infinite;
  animation: shadow 2s ease-in alternate infinite;
}
.order-now a:hover > svg {
  -webkit-animation: translate5 400ms ease-in alternate infinite;
  animation: translate5 400ms ease-in alternate infinite;
}

.order-now a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 100px;
  width: 200%;
  margin-left: -50%;
  height: 50px;
  background: radial-gradient(
    ellipse at center,
    #78cdd9 0%,
    rgba(227, 157, 19, 0) 66%,
    rgba(226, 157, 19, 0) 98%
  );
  opacity: 0.5;
  -webkit-animation: radial-gradient 2s ease-in alternate infinite;
  animation: radial-gradient 2s ease-in alternate infinite;
  pointer-events: none;
}
.order-now a svg {
  position: relative;
  top: 4px;
  left: 15px;
  margin-right: 10px;
}

footer {
  padding: 10px;
  text-align: center;
}

/* About */

.tabs {
  padding-top: 6em;
  width: 40%;
}

@media screen and (max-width: 450px) {
  .tabs {
    width: 95%;
  }
}

.tabs-nav li {
  float: left;
  width: 33.3333333%;
  border-bottom: 1px solid #fff;
}

.tabs a {
  color: #0087cc;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

.tab-active a {
  border-bottom-color: transparent;
  color: #fff;
  cursor: default;
}
.tabs-stage {
  border-top: 0;
  clear: both;
  padding: 24px 0;
  position: relative;
  top: -1px;
}

.tab-line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.185);
  padding: 1em;
}

.tab-line span {
  color: #fff;
}

/* Testamonials */

.content {
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  min-width: 300px;
}

.slick-slider {
  margin: 30px auto 50px;
}

.slick-prev,
.slick-next {
  color: white;
  opacity: 1;
  height: 40px;
  width: 40px;
  margin-top: -20px;
}
.slick-prev path,
.slick-next path {
  fill: rgba(255, 255, 255, 0.4);
}
.slick-prev:hover path,
.slick-next:hover path {
  fill: #ffffff;
}

.slick-prev {
  left: -35px;
}

.slick-next {
  right: -35px;
}

.slick-prev:before,
.slick-next:before {
  content: none;
}

.slick-dots li button:before {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
  font-size: 8px;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
}

.quote-container {
  min-height: 200px;
  color: #666666;
  font-size: 36px;
  margin: 0 20px;
  position: relative;
}
.quote-container:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
.quote-container .portrait {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 140px;
  width: 140px;
  overflow: hidden;
}
.quote-container .portrait img {
  display: block;
  height: auto;
}
.quote-container .quote {
  position: relative;
  z-index: 600;
  padding: 40px 0 40px 40px;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  line-height: 1.4 !important;
  font-family: Calibri;
  color: white;
}
.quote-container .quote p {
  position: relative;
  margin-bottom: 20px;
}
.quote-container .quote p:first-child:before {
  content: "\201C";
  color: rgba(255, 255, 255, 0.44);
  font-size: 7.5em;
  font-weight: 700;
  opacity: 1;
  position: absolute;
  top: -0.4em;
  left: -0.2em;
  text-shadow: none;
  z-index: -10;
}
.quote-container .quote cite {
  display: block;
  font-size: 14px;
}
.quote-container .quote cite span {
  font-size: 16px;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dragging .quote-container {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.tabs-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 450px) {
  .tabs-image {
    max-width: 90%;
    flex-direction: column;
  }
}

/* Blog */

@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");

:root {
  --color: #0087cc;
  --transition-time: 0.5s;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  margin-top: 0.5em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}

.card:before,
.card:after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 0;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:hover {
  color: var(--color);
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

/* Single */

.single {
  max-width: 80%;
  margin: 0 auto;
}

.blog-box {
  padding: 4em 0;
  display: flex;
}

.blog-main {
  max-width: 70%;
}

.sidebar {
  padding: 0 3em;
  color: aliceblue;
}

.sidebar h3 {
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
  margin-bottom: 0.5em;
}

.sidebar a {
  text-transform: capitalize;
  display: block;
  padding: 5px 0;
  color: #8a8686;
}

.blog-image {
  margin-bottom: 2em;
}

.blog-txt p {
  line-height: 1.7em;
  margin-bottom: 2em;
}

@media screen and (max-width: 840px) {
  .blog-box {
    padding: 4em 0;
    display: flex;
    flex-direction: column;
  }
  .blog-main {
    max-width: 100%;
  }

  .sidebar {
    padding: 3em 0;
  }
}
